<!-- ko if: (customerHasAddresses)-->
<div class="field field-select-billing">
    <div class="control">
        <select class="select"
                name="billing_address_id"
                data-bind="
                    attr:{'id': getNameForSelect()+'billing_address_id'},
                    options: addressOptions,
                    optionsText: addressOptionsText,
                    optionsAfterRender:
                        function(option, item) {
                            decorateSelect(getNameForSelect()+'billing_address_id', true);
                        },
                    value: selectedAddress,
                    optionsValue: function(address){
                        return address.customerAddressId;
                    }
            "></select>
    </div>
</div>
<!-- /ko -->