<!-- ko foreach: getRegion('errors') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="iwd_opc_clear"></div>
<div id="iwd_opc_top" class="iwd_opc_universal_wrapper iwd_opc_two_column_wrapper">
    <!-- ko foreach: getRegion('login-button') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <!-- ko foreach: getRegion('sidebar') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
</div>
<div class="iwd_opc_clear"></div>
<!-- ko foreach: getRegion('steps') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->