<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <iwd_opc>
            <general>
                <enable>0</enable>
            </general>
            <extended>
                <title>Checkout</title>
                <show_discount>1</show_discount>
                <show_comment>1</show_comment>
                <show_gift_message>1</show_gift_message>
                <show_success_page>1</show_success_page>
                <show_login_button>0</show_login_button>
                <show_subscribe>1</show_subscribe>
                <subscribe_by_default>0</subscribe_by_default>
                <payment_title_type>logo_title</payment_title_type>
                <assign_order>1</assign_order>
                <reload_shipping_methods_on_discount>0</reload_shipping_methods_on_discount>
                <use_iwd_checkout_experience>1</use_iwd_checkout_experience>
                <show_all_ship_methods>0</show_all_ship_methods>
            </extended>
        </iwd_opc>
    </default>
</config>
