<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="IWD\Opc\Api\BalanceManagementInterface" type="IWD\Opc\Model\BalanceManagement"/>
    <preference for="IWD\Opc\Api\RewardManagementInterface" type="IWD\Opc\Model\RewardManagement" />
    <type name="Magento\GiftCardAccount\Model\Giftcardaccount">
        <plugin name="iwd_opc_giftcardaccount_plugin" type="IWD\Opc\Plugin\GiftCardAccount" />
    </type>
    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="iwd_opc_save_comment_subscribe" type="IWD\Opc\Plugin\Checkout\PaymentInformationManagement"/>
    </type>
    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="iwd_opc_save_comment_subscribe" type="IWD\Opc\Plugin\Checkout\GuestPaymentInformationManagement"/>
    </type>
    <type name="Magento\Quote\Api\PaymentMethodManagementInterface">
        <plugin name="iwd_opc_save_comment_subscribe" type="IWD\Opc\Plugin\Checkout\PaymentMethodManagement"/>
    </type>
</config>