<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="iwd_opc_universal_wrapper braintree-apple-pay-actions">
            <button type="button"
                    data-button="apple-pay-place"
                    disabled
                    data-bind="attr: {id: getCode() + '_place_order', title: $t('Place Order')}, enable: (getCode() == isChecked()), click: placeOrderApplePay"
                    class="iwd_opc_button active iwd_opc_place_order_button">
                <!-- ko i18n: 'Place Order' --><!-- /ko -->
            </button>
        </div>
    </div>
</div>