<!-- ko if: isEnabled -->
<div id="iwd_opc_discount"
     data-bind="mageInit: {'collapsible':{'openedState': 'iwd_opc_collapsible_opened', 'active': isApplied()}}">
    <div class="iwd_opc_universal_wrapper" data-role="title">
        <button class="iwd_opc_button with_angle active" data-role="trigger">
            <!-- ko i18n: 'Discount Code'--><!-- /ko -->
            <!-- ko if: isApplied() && couponCode() -->
            -&nbsp;<!-- ko text: couponCode() --><!-- /ko -->
            <!-- /ko -->
        </button>
    </div>
    <form class="form form-discount" id="discount-form" data-role="content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko if: isApplied() -->
        <div class="iwd_opc_universal_wrapper iwd_opc_additional_payment_info">
            <div class="iwd_opc_additional_payment_label">
                <!-- ko i18n: 'Discount Amount'--><!-- /ko -->:
            </div>
            <div class="iwd_opc_additional_payment_value">
                <!-- ko text: getDiscountAmount() --><!-- /ko -->
            </div>
        </div>
        <div class="iwd_opc_universal_wrapper">
            <button class="iwd_opc_button" data-bind="'title': $t('Remove'), click: remove">
                <!-- ko i18n: 'Remove'--><!-- /ko -->
            </button>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: isApplied() -->
        <div class="field">
            <div class="control">
                <input class="input-text"
                       type="text"
                       id="discount-code"
                       name="discount_code"
                       data-validate="{'required-entry':true}"
                       data-bind="value: couponCode, attr:{placeholder: $t('Discount Code')} "/>
            </div>
        </div>
        <div class="iwd_opc_universal_wrapper iwd_opc_small_button_container">
            <button class="iwd_opc_small_button active"
                    data-bind="'title': $t('Apply'), click: apply">
                <!-- ko i18n: 'Apply'--><!-- /ko -->
            </button>
            <button class="iwd_opc_small_button"
                    data-bind="'title': $t('Cancel'), click: cancel">
                <!-- ko i18n: 'Cancel'--><!-- /ko -->
            </button>
        </div>
        <!-- /ko -->
    </form>
</div>
<!-- /ko -->

