<!-- ko if: (customerHasAddresses)-->
<div class="fieldset">
    <div class="field field-select-shipping">
        <div class="control">
            <select class="select" name="shipping_address_id" id="shipping_address_id" data-bind="
                options: addressOptions,
                optionsText: addressOptionsText,
                optionsAfterRender:
                    function(option, item) {
                        decorateSelect('shipping_address_id', true);
                    },
                value: selectedAddress,
                optionsValue: function(address){
                    return address.customerAddressId;
                },
            "></select>
        </div>
    </div>
</div>
<!-- /ko -->
