<!-- ko if: config.isEnabled -->
<div class="field">
    <div
            data-bind="mageInit: {'collapsible':{'openedState': 'iwd_opc_collapsible_opened'}}"
            class="iwd_opc_shipping_policy_block iwd_opc_collapsible_container">
        <div class="iwd_opc_universal_wrapper iwd_opc_collapsible_title" data-role="title">
            <!-- ko i18n: 'See our Shipping Policy' --><!-- /ko -->
        </div>
        <div class="iwd_opc_universal_wrapper iwd_opc_collapsible_content"
             data-role="content"
        >
            <div class="iwd_opc_collapsible_content_scrollable" data-bind="html: config.shippingPolicyContent, afterRender: appendScrollbar">

            </div>
        </div>
    </div>
</div>
<!-- /ko !-->
