<div class="items payment-methods">
    <div class="field">
        <div class="control">
            <select class="select"
                    id="iwd_opc_payment_method_select"
                    data-validate="{required:true}"
                    data-can-unselect="false"
                    data-bind="
                        value: selectedPaymentMethod,
                        options: paymentMethods,
                        optionsAfterRender:
                            function(option, item) {
                                decorateSelect('iwd_opc_payment_method_select', option, item);
                            },
                        optionsText: 'title',
                        optionsValue: 'method',
                        optionsCaption: '',
                        event: {change: function(data, event){selectPaymentMethod(data, event, selectedPaymentMethod())}}
                    "></select>
        </div>
    </div>
    <div repeat="foreach: paymentGroupsList, item: '$group'">
        <each args="data: getRegion($group().displayArea), as: 'method'" render=""/>
    </div>
</div>
